<span style="font-weight: bold">Welcome to Ultimate tic tac toe</span> <br><br> First you have to enter time in minutes then if you press enter key you can't change time unless you restart the game. <br><br> Rules are : <br>
&#9755 If a player loose his time he will loose the game <br>
&#9755 Each small 3-by-3 tic-tac-toe board is referred to as a local board, and the larger 3-by-3 board is referred to as the global board.<br>
&#9755 The game starts with player1 playing wherever they want in any of the 81 empty spots. This move 'sends' their opponent to its relative location. For example, if player1 played in the top right square of their local board, then player2 needs to play next in the local board at the top right of the global board. player2 can then play in any one of the nine available spots in that local board, each move sending player to a different local board.<br>

&#9755 If a move is played so that it is to win a local board by the rules of normal tic-tac-toe, then the entire local board is marked as a victory for the player in the global board.<br>

&#9755 Once the outcome of a local board is decided (win or draw), no more moves may be played in that board. If a player is sent to such a board, then that player may play in any other board.<br>

&#9755 Game play ends when either a player wins the global board, or there are no legal moves remaining.<br><br>


And that's it ! lets start playing ...