<table class="big_table" id="big_table">
    <tr class="bigRow1">
        <td class="NorthWest" id="t1">
            <table class="little_table" id="table1">
                <tr class="nwRow1" >
                    <td class="t1" id="c11"><div class="aEL" id="d0"></div></td>
                    <td class="t1" id="c12"><div class="aEL" id="d1"></div></td>
                    <td class="t1" id="c13"><div class="aEL" id="d2"></div></td>
                </tr>
                <tr class="nwRow2">
                    <td class="t1" id="c14"><div class="aEL" id="d3"></div></td>
                    <td class="t1" id="c15"><div class="aEL" id="d4"></div></td>
                    <td class="t1" id="c16"><div class="aEL" id="d5"></div></td>
                </tr>
                <tr class="nwRow3">
                    <td class="t1" id="c17"><div class="aEL" id="d6"></div></td>
                    <td class="t1" id="c18"><div class="aEL" id="d7"></div></td>
                    <td class="t1" id="c19"><div class="aEL" id="d8"></div></td>
                </tr>
            </table>
        </td>
        <td class="North" id="t2">
            <table class="little_table" id="table2">
                <tr class="nRow1">
                    <td class="t2" id="c21"><div class="aEL" id="d9"></div></td>
                    <td class="t2" id="c22"><div class="aEL" id="d10"></div></td>
                    <td class="t2" id="c23"><div class="aEL" id="d11"></div></td>
                </tr>
                <tr class="nRow2">
                    <td class="t2" id="c24"><div class="aEL" id="d12"></div></td>
                    <td class="t2" id="c25"><div class="aEL" id="d13"></div></td>
                    <td class="t2" id="c26"><div class="aEL" id="d14"></div></td>
                </tr>
                <tr class="nRow3">
                    <td class="t2" id="c27"><div class="aEL" id="d15"></div></td>
                    <td class="t2" id="c28"><div class="aEL" id="d16"></div></td>
                    <td class="t2" id="c29"><div class="aEL" id="d17"></div></td>
                </tr>
            </table>
        </td>
        <td class="NorthEast" id="t3">
            <table class="little_table" id="table3">
                <tr class="neRow1">
                    <td class="t3" id="c31"><div class="aEL" id="d18"></div></td>
                    <td class="t3" id="c32"><div class="aEL" id="d19"></div></td>
                    <td class="t3" id="c33"><div class="aEL" id="d20"></div></td>
                </tr>
                <tr class="neRow2">
                    <td class="t3" id="c34"><div class="aEL" id="d21"></div></td>
                    <td class="t3" id="c35"><div class="aEL" id="d22"></div></td>
                    <td class="t3" id="c36"><div class="aEL" id="d23"></div></td>
                </tr>
                <tr class="neRow3">
                    <td class="t3" id="c37"><div class="aEL" id="d24"></div></td>
                    <td class="t3" id="c38"><div class="aEL" id="d25"></div></td>
                    <td class="t3" id="c39"><div class="aEL" id="d26"></div></td>
                </tr>
            </table>
        </td>
    </tr>
    <!--//////////////////////////////////////////////////////////////////////////////////////-->
    <tr class="bigRow2">
        <td class="West" id="t4">
            <table class="little_table" id="table4">
                <tr class="wRow1">
                    <td class="t4" id="c41"><div class="aEL" id="d27"></div></td>
                    <td class="t4" id="c42"><div class="aEL" id="d28"></div></td>
                    <td class="t4" id="c43"><div class="aEL" id="d29"></div></td>
                </tr>
                <tr class="wRow2">
                    <td class="t4" id="c44"><div class="aEL" id="d30"></div></td>
                    <td class="t4" id="c45"><div class="aEL" id="d31"></div></td>
                    <td class="t4" id="c46"><div class="aEL" id="d32"></div></td>
                </tr>
                <tr class="wRow3">
                    <td class="t4" id="c47"><div class="aEL" id="d33"></div></td>
                    <td class="t4" id="c48"><div class="aEL" id="d34"></div></td>
                    <td class="t4" id="c49"><div class="aEL" id="d35"></div></td>
                </tr>
            </table>
        </td>
        <td class="Middle" id="t5">
            <table class="little_table" id="table5">
                <tr class="mRow1">
                    <td class="t5" id="c51"><div class="aEL" id="d36"></div></td>
                    <td class="t5" id="c52"><div class="aEL" id="d37"></div></td>
                    <td class="t5" id="c53"><div class="aEL" id="d38"></div></td>
                </tr>
                <tr class="mRow2">
                    <td class="t5" id="c54"><div class="aEL" id="d39"></div></td>
                    <td class="t5" id="c55"><div class="aEL" id="d40"></div></td>
                    <td class="t5" id="c56"><div class="aEL" id="d41"></div></td>
                </tr>
                <tr class="mRow3">
                    <td class="t5" id="c57"><div class="aEL" id="d42"></div></td>
                    <td class="t5" id="c58"><div class="aEL" id="d43"></div></td>
                    <td class="t5" id="c59"><div class="aEL" id="d44"></div></td>
                </tr>
            </table>
        </td>
        <td class="East" id="t6">
            <table class="little_table" id="table6">
                <tr class="eRow1">
                    <td class="t6" id="c61"><div class="aEL" id="d45"></div></td>
                    <td class="t6" id="c62"><div class="aEL" id="d46"></div></td>
                    <td class="t6" id="c63"><div class="aEL" id="d47"></div></td>
                </tr>
                <tr class="eRow2">
                    <td class="t6" id="c64"><div class="aEL" id="d48"></div></td>
                    <td class="t6" id="c65"><div class="aEL" id="d49"></div></td>
                    <td class="t6" id="c66"><div class="aEL" id="d50"></div></td>
                </tr>
                <tr class="eRow3">
                    <td class="t6" id="c67"><div class="aEL" id="d51"></div></td>
                    <td class="t6" id="c68"><div class="aEL" id="d52"></div></td>
                    <td class="t6" id="c69"><div class="aEL" id="d53"></div></td>
                </tr>
            </table>
        </td>
    </tr>
    <!--////////////////////////////////////////////////////////////////////////////////-->
    <tr class="bigRow3">
        <td class="SouthWest" id="t7">
            <table class="little_table" id="table7">
                <tr class="swRow1">
                    <td class="t7" id="c71"><div class="aEL" id="d54"></div></td>
                    <td class="t7" id="c72"><div class="aEL" id="d55"></div></td>
                    <td class="t7" id="c73"><div class="aEL" id="d56"></div></td>
                </tr>
                <tr class="swRow2">
                    <td class="t7" id="c74"><div class="aEL" id="d57"></div></td>
                    <td class="t7" id="c75"><div class="aEL" id="d58"></div></td>
                    <td class="t7" id="c76"><div class="aEL" id="d59"></div></td>
                </tr>
                <tr class="swRow3">
                    <td class="t7" id="c77"><div class="aEL" id="d60"></div></td>
                    <td class="t7" id="c78"><div class="aEL" id="d61"></div></td>
                    <td class="t7" id="c79"><div class="aEL" id="d62"></div></td>
                </tr>
            </table>
        </td>
        <td class="South" id="t8">
            <table class="little_table" id="table8">
                <tr class="sRow1">
                    <td class="t8" id="c81"><div class="aEL" id="d63"></div></td>
                    <td class="t8" id="c82"><div class="aEL" id="d64"></div></td>
                    <td class="t8" id="c83"><div class="aEL" id="d65"></div></td>
                </tr>
                <tr class="sRow2">
                    <td class="t8" id="c84"><div class="aEL" id="d66"></div></td>
                    <td class="t8" id="c85"><div class="aEL" id="d67"></div></td>
                    <td class="t8" id="c86"><div class="aEL" id="d68"></div></td>
                </tr>
                <tr class="sRow3">
                    <td class="t8" id="c87"><div class="aEL" id="d69"></div></td>
                    <td class="t8" id="c88"><div class="aEL" id="d70"></div></td>
                    <td class="t8" id="c89"><div class="aEL" id="d71"></div></td>
                </tr>
            </table>
        </td>
        <td class="SouthEast" id="t9">
            <table class="little_table" id="table9">
                <tr class="seRow1">
                    <td class="t9" id="c91"><div class="aEL" id="d72"></div></td>
                    <td class="t9" id="c92"><div class="aEL" id="d73"></div></td>
                    <td class="t9" id="c93"><div class="aEL" id="d74"></div></td>
                </tr>
                <tr class="seRow2">
                    <td class="t9" id="c94"><div class="aEL" id="d75"></div></td>
                    <td class="t9" id="c95"><div class="aEL" id="d76"></div></td>
                    <td class="t9" id="c96"><div class="aEL" id="d77"></div></td>
                </tr>
                <tr class="seRow3">
                    <td class="t9" id="c97"><div class="aEL" id="d78"></div></td>
                    <td class="t9" id="c98"><div class="aEL" id="d79"></div></td>
                    <td class="t9" id="c99"><div class="aEL" id="d80"></div></td>
                </tr>
            </table>
        </td>
    </tr>
</table>